body{
	background-color: #2471A3;
	font-family: arial, verdana, sans-serif;
	margin-left: 20px;
}
h1{
	text-align: center;
	color: white;
}
p{
	color: yellow;
	font-size: 20px;
}
div{
	background-color: #D0ECE7;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
label{
	font-weight: bold;
}
#name{
	width: 50%;
	height: 25 px;
}

input[type=submit], input[type=reset]{
	width: 150px;
	height: 30px;
}